#############################################
# Visual Studio
#############################################

.vs/
**/.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

#############################################
# Build / Compilação .NET
#############################################

**/bin/
**/obj/

*.dll
*.exe
*.pdb
*.cache

#############################################
# Logs
#############################################

*.log

#############################################
# Rider / JetBrains
#############################################

.idea/
*.sln.iml

#############################################
# VS Code
#############################################

.vscode/

#############################################
# Banco local
#############################################

*.db
*.sqlite
*.sqlite3

#############################################
# Angular / Node
#############################################

**/node_modules/

**/dist/

.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#############################################
# Ambiente / Config local
#############################################

.env
.env.*

appsettings.Development.json

#############################################
# Arquivos temporários
#############################################

*.tmp
*.temp
*.swp

#############################################
# Sistema operacional
#############################################

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store