#############################################
# Visual Studio
#############################################

.vs/
**/.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

#############################################
# .NET Build
#############################################

**/bin/
**/obj/

*.dll
*.exe
*.pdb

#############################################
# Logs
#############################################

*.log

#############################################
# Angular / Node
#############################################

**/node_modules/

**/dist/

.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#############################################
# Bancos locais
#############################################

*.db
*.sqlite
*.sqlite3

#############################################
# Configuração local
#############################################

.env
.env.*

appsettings.Development.json

#############################################
# IDEs
#############################################

.vscode/
.idea/

#############################################
# Sistema
#############################################

Thumbs.db
Desktop.ini
.DS_Store

#############################################
# Temporários
#############################################

*.tmp
*.temp